<img src="../public/assets/img/burger.png">

<h1>Eat-Da-Burger!</h1>

<h2>Burgers that have not been devoured!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a burger to be devoured!</h2>
<form class="create-form">
    <div>
        <input type="text" id="burgerInput">
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>